@import "../../../../utils/variable.scss";


.contactsWrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 50px;

  .title {
    color: $colorWhite;
    font-family: $fontPoppins;
    font-size: 32px;
    font-weight: $fontWait100;
  }
}