@import "../../../utils/variable.scss";

.aboutMeWrapper {
  padding: 150px;
  color: $colorWhite;
  display: flex;
  justify-content: space-around;

  .description {
    display: flex;
    flex-direction: column;

    h6 {
      font-family: $fontRaleway;
      font-weight: $fontWait300;
      font-size: 35px;
      color:$colorWhite ;
    }

    h2 {
      font-family: $fontPoppins;
      font-weight: $fontWait600;
      font-size: 100px;
    }

    h3 {
      font-family: $fontRaleway;
      font-weight: $fontWait300;
      font-size: 50px;
      color:$colorWhite ;
    }
  }
}