@import "../../../utils/variable.scss";

.aboutMeWrapper {
  padding: 50px;
  color: $colorWhite;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  background-image: url("../../../assets/Home/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


  .description {
    display: flex;
    flex-direction: column;

    h6 {
      font-family: $fontRaleway;
      font-weight: $fontWait300;
      font-size: 35px;
      color: $colorWhite ;
    }

    h2 {
      font-family: $fontPoppins;
      font-weight: $fontWait600;
      font-size: 100px;
    }

    h3 {
      font-family: $fontRaleway;
      font-weight: $fontWait300;
      font-size: 50px;
      color: $colorWhite ;
    }
  }

  .transitionImage {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}