@import "../../utils/variable";

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  img {
    width: 45px;
    margin: 20px;


    &:hover {
      scale: 1.2;
    }
  }

  .wrapperMenu {
    display: flex;

    svg {
      width: 35px;
      height: 35px;
      fill: $colorWhite;
      cursor: pointer;
      transition: $transition;
      margin: 20px;


      &:hover {
        scale: 1.2;
        transition: $transition;
      }
    }

    .closeIconMenu {
      width: 45px;
      height: 45px;
    }
  }


  .menu {
    backdrop-filter: blur(7px);


    nav {

      ul {
        display: flex;
        flex-direction: column;
        gap: 35px;
        padding: 30px 35px;

        li {
          padding-bottom: 2px;
          margin-right: 10px;
          border-bottom: 1px solid transparent;
          transition: $transition;

          &:hover {
            transform: scale(1.2);
            border-bottom: 1px solid $colorYellow;
            transition: $transition;
          }

          a {
            font-family: $fontPoppins;
            font-size: $fontSize20;
            font-weight: $fontWait400;
            text-decoration: none;
            white-space: nowrap;
            color: $colorWhite;
            cursor: pointer;
            padding-bottom: 2px;
            margin-right: 10px;
            border-bottom: 1px solid transparent;
            transition: $transition;
          }


        }
      }
    }
  }


}
