@import "../../utils/variable";

.navBarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;


  .logo {
    width: 45px;
    margin: 20px;
    transition: $transition;
    cursor: pointer;

    &:hover {
      scale: 1.1;
      transition: $transition;

    }
  }

  .wrapperMenu {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;

    svg {
      width: 30px;
      height: 30px;
      fill: $colorWhite;
      cursor: pointer;
      transition: $transition;
      margin: 20px;


      &:hover {
        scale: 1.05;
        transition: $transition;
      }
    }

    .closeIconMenu {
      width: 45px;
      height: 45px;
      margin-right: 0;
    }
  }


  .menu {
    backdrop-filter: blur(7px);


    nav {

      ul {
        display: flex;
        flex-direction: column;
        gap: 35px;
        padding: 30px 0px 30px 35px;

        li {
          padding-bottom: 2px;
          margin-right: 10px;
          border-bottom: 1px solid transparent;
          transition: $transition;

          &:hover {
            transform: scale(1.1);
            transition: $transition;
          }


          a {
            font-family: $fontPoppins;
            font-size: $fontSize20;
            font-weight: $fontWait400;
            text-decoration: none;
            white-space: nowrap;
            color: $colorWhite;
            cursor: pointer;
            padding-bottom: 2px;
            margin-right: 10px;
            border-bottom: 1px solid transparent;
            transition: $transition;

            &:hover {
              border-bottom: 1px solid $colorYellow;
              transition: $transition;
            }

            &[class="active"] {
              border-bottom: 1px solid $colorYellow;
            }

          }


        }
      }
    }
  }

}