$colorRed: #eb4034;
$colorSkyBlue: #7ed0ec;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorOrange: #fa9a0f;
$colorGray: #414141;
$colorYellow: #fff900;

$fontPoppins: "Poppins", sans-serif;
$fontRaleway: "Raleway", sans-serif;

$fontSize14: 14px;
$fontSize16: 16px;
$fontSize20: 20px;
$fontSize24: 24px;
$fontSize32: 32px;

$fontWait100: 100;
$fontWait200: 200;
$fontWait300: 300;
$fontWait400: 400;
$fontWait500: 500;
$fontWait600: 600;
$fontWait700: 700;
$fontWait800: 800;
$fontWait900: 900;

$transition: all 0.3s ease-out;
