@import "../../../../utils/variable.scss";

.technologiesWrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;

  .title {
    color: $colorWhite;
    font-family: $fontPoppins;
    font-size: 32px;
    padding-bottom: 25px;
    font-weight: $fontWait100;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 120px;
      height: 120px;
      border-radius: 20px;
      transition: $transition;

      &:hover {
        scale: 1.1;
        transition: $transition;
      }
    }

    h2 {
      color: $colorWhite;
      font-family: $fontPoppins;
      font-size: $fontSize14;
      font-weight: $fontWait300;
      text-align: center;
      margin-top: 5px;
      line-height: 120%;
      width: 110px;

    }
  }


}

.favoriteTechnologies {
  display: flex;
  gap: 20px;
  padding: 25px 0;

}

.stylesTechnologies {
  display: flex;
  gap: 20px;
  padding: 25px 0;
}

.supportTechnologies {
  display: flex;
  gap: 20px;
  padding: 25px 0;
  margin-bottom: 25px;
}
